[submodule "modules/stdlib"]
	path = modules/stdlib
	url = https://github.com/puppetlabs/puppetlabs-stdlib
[submodule "modules/apt"]
	path = modules/apt
	url = https://github.com/puppetlabs/puppetlabs-apt
[submodule "modules/apache"]
	path = modules/apache
	url = https://github.com/puppetlabs/puppetlabs-apache
[submodule "modules/firewall"]
	path = modules/firewall
	url = https://github.com/puppetlabs/puppetlabs-firewall
[submodule "modules/mysql"]
	path = modules/mysql
	url = https://github.com/puppetlabs/puppetlabs-mysql
[submodule "modules/nginx"]
	path = modules/nginx
	url = https://github.com/puppetlabs/puppetlabs-nginx
